.container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  margin-bottom: 20px;
}

.text {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-right: 8px;
}

.select {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: block;
  width: 100%;
  padding-right: 4px;
  appearance: none;
  font-size: inherit;
  border: 1px solid;
  border-radius: 4px;
  color: inherit;
  background-color: #fffbf3;
  background-color: #213147;
  border-color: #848c92;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  font-family: Studio-Feixen-Sans, Arial;
  font-size: 0.75rem;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 71px;
}

.toggleButton {
  background-color: #b7b9ba;
  border: 1px solid #aaa;
  border-radius: 99px;
  width: 30px;
  height: 20px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.748);
  position: relative;

  &.toggled {
    background-color: rgb(6, 189, 252);
  }
}

.thumb {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: relative;
  cursor: pointer;
  right: 26px;
  transform: translateY(-35%);

  &.toggled {
    right: 16px;
  }
}
